RewriteEngine On
RewriteBase /
RewriteRule ^login$ pages/login.php [L]
RewriteRule ^signup$ pages/signup.php [L]
RewriteRule ^books$ pages/books.php [L]
RewriteRule  ^browse$ pages/book_browse.php [L]
RewriteRule  ^book-details$ pages/book_details.php [L]
RewriteRule  ^admin$ admin/index.php [L]
